{%block contenido%}

{% load bootstrap5 %}
<form action="{% url 'gastos_crear'%}"method = "post">
    {% csrf_token %}
    <div class="mb-4">
        <label for ="{{formulario.herramientas.id_for_label}}"class="form-label">{{formulario.herramientas.label}}: </label>
        <input name="{{formulario.herramientas.html_name}}"type="text" class="form-control {% if formulario.herramientas.errors %} is-invalid{%elif formulario.is_bound %}is-valid{%endif%}" id="{{formulario.herramientas.id_for_label}}"maxlength="{{formulario.herramientas.field.max_length}}"{% if formulario.herramientas.field.required %}
            required
        {%endif%}
        value="{% spaceless %}
        {%if formulario.is_bound %}
            {{formulario.herramientas.value}}
        {%elif usuario%}
            {{formulario.herramientas.value}}
        {%endif%}
        {% endspaceless %}"
        />
        <div class="invalid-feedback">
            {% for error in formulario.herramientas.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for ="{{formulario.nombre_usuario.id_for_label}}"class="form-label">{{formulario.facturas.label}}: </label>
        <input name="{{formulario.facturas.html_name}}"type="text" class="form-control {% if formulario.facturas.errors %} is-invalid{%elif formulario.is_bound %}is-valid{%endif%}" id="{{formulario.facturas.id_for_label}}"maxlength="{{formulario.facturas.field.max_length}}"{% if formulario.facturas.field.required %}
            required
        {%endif%}
        value="{% spaceless %}
        {%if formulario.is_bound %}
            {{formulario.facturas.value}}
        {%elif usuario%}
            {{formulario.facturas.value}}
        {%endif%}
        {% endspaceless %}"/>
        <div class="invalid-feedback">
            {% for error in formulario.facturas.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for ="{{formulario.imprevistos.id_for_label}}"class="form-label">{{formulario.imprevistos.label}}: </label>
        <input name="{{formulario.imprevistos.html_name}}"type="text" class="form-control {% if formulario.imprevistos.errors %} is-invalid{%elif formulario.is_bound %}is-valid{%endif%}" id="{{formulario.imprevistos.id_for_label}}"maxlength="{{formulario.imprevistos.field.max_length}}"{% if formulario.imprevistos.field.required %}
            required
        {%endif%}
        value="{% spaceless %}
        {%if formulario.is_bound %}
            {{formulario.imprevistos.value}}
        {%elif usuario%}
            {{formulario.imprevistos.value}}
        {%endif%}
        {% endspaceless %}"/>
        <div class="invalid-feedback">
            {% for error in formulario.imprevistos.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="mb-4">
        <label for ="{{formulario.Descripcion.id_for_label}}"class="form-label">{{formulario.Descripcion.label}}: </label>
        <input name="{{formulario.Descripcion.html_name}}"type="text" class="form-control {% if formulario.Descripcion.errors %} is-invalid{%elif formulario.is_bound %}is-valid{%endif%}" id="{{formulario.Descripcion.id_for_label}}"maxlength="{{formulario.Descripcion.field.max_length}}"{% if formulario.Descripcion.field.required %}
            required
        {%endif%}
        value="{% spaceless %}
        {%if formulario.is_bound %}
            {{formulario.Descripcion.value}}
        {%elif usuario%}
            {{formulario.Descripcion.value}}
        {%endif%}
        {% endspaceless %}"/>
        <div class="invalid-feedback">
            {% for error in formulario.Descripcion.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="mb-4">
        <label for ="{{formulario.fecha.id_for_label}}"class="form-label">{{formulario.fecha.label}}: </label>
        <input name="{{formulario.fecha.html_name}}"type="text" class="form-control {% if formulario.fecha.errors %} is-invalid{%elif formulario.is_bound %}is-valid{%endif%}" id="{{formulario.fecha.id_for_label}}"maxlength="{{formulario.fecha.field.max_length}}"{% if formulario.fecha.field.required %}
            required
        {%endif%}
        value="{% spaceless %}
        {%if formulario.is_bound %}
            {{formulario.fecha.value}}
        {%elif usuario%}
            {{formulario.fecha.value}}
        {%endif%}
        {% endspaceless %}"/>
        <div class="invalid-feedback">
            {% for error in formulario.fecha.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="mb-4">
        <label for="{{ formulario.usuario.id_for_label }}" class="form-label">{{ formulario.usuario.label }}: </label>
        <select name="{{ formulario.usuario.html_name }}" class="form-control {% if formulario.usuario.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" id="{{ formulario.usuario.id_for_label }}" {% if formulario.usuario.field.required %} required {% endif %}>
            <option value="">Select User</option>
            {% for user_choice in formulario.usuario.field.choices %}
                <option value="{{ user_choice.0 }}" {% if formulario.usuario.value == user_choice.0 %} selected {% endif %}>{{ user_choice.1 }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            {% for error in formulario.usuario.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock%}