{% block cabecera_extra %}
{% load static %}
<script type="text/javascript" src="{% static 'javascript1.js' %}" ></script>
{% endblock %}
<h2>Gasto: {{gasto.id}}</h2>
<p>facturas: {{gasto.facturas}}</p>
<p>Imprevistos{{gasto.imprevistos}} </p>
<p>Descrpicion {{gasto.Descripcion}}</p>
<p>fecha: {{gasto.fecha}}</p>
<p>usuario: {{gasto.usuario.username}}</p>

<br>
<div class="mb-2">
    <form action="{% url 'gastos_eliminar' gasto.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger" onclick="return eliminar();" type="submit">
            <span>Eliminar</span>
        </button>
    </form>
</div>
