{% load bootstrap5 %}
{% bootstrap_css%}
{% block contenido %}


<form action = "{% url 'huerto_create' %}" method = "post"> 
    {% csrf_token %}


    <div class="mb-4 bg-primary">
        <label for="{{ formulario.ubicacion.id_for_label }}" class="form-label">{{ formulario.ubicacion.label }}: </label>
        <input  name="{{ formulario.ubicacion.html_name }}" 
                type="text" 
                class="form-control {% if formulario.ubicacion.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                id="{{ formulario.ubicacion.id_for_label }}"
                maxlength="{{ formulario.ubicacion.field.max_length }}"
                {% if formulario.ubicacion.field.required %}
                    required
                {% endif %}
                value="{% if formulario.is_bound %}{{ formulario.ubicacion.value }}{% endif %}"
        />
        {% if formulario.ubicacion.help_text %}
        <div class="form-text ">
            {{ formulario.ubicacion.help_text }}
        </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.ubicacion.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="mb-4 bg-primary">
        <label for="{{ formulario.sitio.id_for_label }}" class="form-label">{{ formulario.sitio.label }}: </label>
        <select name="{{ formulario.sitio.html_name }}" 
                class="form-select {% if formulario.sitio.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                id="{{ formulario.sitio.id_for_label }}"
                {% if formulario.sitio.field.required %}
                    required
                {% endif %}
        >
            {% for option_value, option_label in formulario.sitio.field.choices %}
                <option value="{{ option_value }}" {% if formulario.sitio.value == option_value %}selected{% endif %}>
                    {{ option_label }}
                </option>
            {% endfor %}
        </select>
        {% if formulario.sitio.help_text %}
            <div class="form-text">
                {{ formulario.sitio.help_text }}
            </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.sitio.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>
    

    <div class="mb-4 bg-primary">
        <label for="{{ formulario.sustrato.id_for_label }}" class="form-label">{{ formulario.sustrato.label }}: </label>
        <select name="{{ formulario.sustrato.html_name }}" 
                class="form-select {% if formulario.sustrato.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                id="{{ formulario.sustrato.id_for_label }}"
                {% if formulario.sustrato.field.required %}
                    required
                {% endif %}
        >
            {% for option_value, option_label in formulario.sustrato.field.choices %}
                <option value="{{ option_value }}" {% if formulario.sustrato.value == option_value %}selected{% endif %}>
                    {{ option_label }}
                </option>
            {% endfor %}
        </select>
        {% if formulario.sustrato.help_text %}
            <div class="form-text">
                {{ formulario.sustrato.help_text }}
            </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.sustrato.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4 bg-primary">
        <label for="{{ formulario.area.id_for_label }}" class="form-label">{{ formulario.area.label }}: </label>
        <input  name="{{ formulario.area.html_name }}" 
                type="text" 
                class="form-control {% if formulario.area.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                id="{{ formulario.area.id_for_label }}"
                maxlength="{{ formulario.area.field.max_length }}"
                {% if formulario.area.field.required %}
                    required
                {% endif %}
                value="{% if formulario.is_bound %}{{ formulario.area.value }}{% endif %}"
        />
        {% if formulario.area.help_text %}
        <div class="form-text">
            {{ formulario.area.help_text }}
        </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.area.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.acidez.id_for_label }}" class="form-label">{{ formulario.acidez.label }}: </label>
        <input  name="{{ formulario.acidez.html_name }}" 
                type="text" 
                class="form-control {% if formulario.acidez.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                id="{{ formulario.acidez.id_for_label }}"
                maxlength="{{ formulario.acidez.field.max_length }}"
                {% if formulario.acidez.field.required %}
                    required
                {% endif %}
                value="{% if formulario.is_bound %}{{ formulario.acidez.value }}{% endif %}"
        />
        {% if formulario.acidez.help_text %}
        <div class="form-text">
            {{ formulario.acidez.help_text }}
        </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.acidez.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <div class="form-check">
            <input class="form-check-input {% if formulario.abonado.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                type="checkbox" 
                id="{{ formulario.abonado.id_for_label }}" 
                name="{{ formulario.abonado.html_name }}"
                {% if formulario.abonado.value %}checked{% endif %}  
            />
            <label class="form-check-label" for="{{ formulario.abonado.id_for_label }}">
                {{ formulario.abonado.label }}:
            </label>
        </div>
        {% if formulario.abonado.help_text %}
            <div class="form-text">
                {{ formulario.abonado.help_text }}
            </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.abonado.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>
    
<!-- Entiendo que un usuario puede registrar un huerto, pero no el usuario del huerto porque sería él mismo
    <div class="mb-4">
        <label for="{{ formulario.usuario.id_for_label }}" class="form-label">{{ formulario.usuario.label }}: </label>
        <input  name="{{ formulario.usuario.html_name }}" 
                type="text" 
                class="form-control {% if formulario.usuario.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                id="{{ formulario.usuario.id_for_label }}"
                maxlength="{{ formulario.usuario.field.max_length }}"
                {% if formulario.usuario.field.required %}
                    required
                {% endif %}
                value="{% if formulario.is_bound %}{{ formulario.usuario.value }}{% endif %}"
        />
        {% if formulario.usuario.help_text %}
        <div class="form-text">
            {{ formulario.usuario.help_text }}
        </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.usuario.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>-->
    <button type="submit" class="btn btn-primary">Enviar</button>

</form> 


{% endblock %}