{% block cabecera_extra %}
{% load static %}
<script type="text/javascript" src="{% static 'javascript1.js' %}" ></script>
{% endblock %}
<h2>blog: {{blog.id}}</h2>
<p>etiqueta: {{blog.etiqueta}}</p>
<p>fecha: {{blog.fecha}}</p>
<br>
<div>
    <form action = "{% url 'blog_put' blog.id %}" method = "post"> 
        {% csrf_token %}
        <button class="btn btn-danger"  type="submit">
        <span>Editar</span>
        </button> 
    </form>
</div>
<div class="mb-2">
    <form action="{% url 'blog_eliminar' blog.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger" onclick="return eliminar();" type="submit">
            <span>Eliminar</span>
        </button>
    </form>
</div>
