{% block contenido %}

{% load bootstrap5 %}
<form action="{% url 'blog_crear' %}" method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for ="{{formulario.etiqueta.id_for_label}}"class="form-label">{{formulario.etiqueta.label}}: </label>
        <input name="{{formulario.etiqueta.html_name}}"type="text" class="form-control {% if formulario.etiqueta.errors %} is-invalid{%elif formulario.is_bound %}is-valid{%endif%}" id="{{formulario.etiqueta.id_for_label}}"maxlength="{{formulario.etiqueta.field.max_length}}"{% if formulario.etiqueta.field.required %}
            required
        {%endif%}
        value="{% spaceless %}
        {%if formulario.is_bound %}
            {{formulario.etiqueta.value}}
        {%elif usuario%}
            {{formulario.etiqueta.value}}
        {%endif%}
        {% endspaceless %}"
        />
        <div class="invalid-feedback">
            {% for error in formulario.etiqueta.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <select name="{{ formulario.publicacion.html_name }}" 
    class="form-select {% if formulario.publicacion.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
    id="{{ formulario.publicacion.id_for_label }}"
    {% if formulario.publicacion.field.required %}
        required
    {% endif %}
    >
    {% for option_value, option_label in formulario.publicacion.field.choices %}
        <option value="{{ option_value }}" {% if formulario.publicacion.value == option_value %}selected{% endif %}>
            {{ option_label }}
        </option>
    {% endfor %}
    </select>

    <div class="mb-4">
        <label for ="{{formulario.fecha.id_for_label}}"class="form-label">{{formulario.fecha.label}}: </label>
        <input name="{{formulario.fecha.html_name}}"type="text" class="form-control {% if formulario.fecha.errors %} is-invalid{%elif formulario.is_bound %}is-valid{%endif%}" id="{{formulario.fecha.id_for_label}}"maxlength="{{formulario.fecha.field.max_length}}"{% if formulario.fecha.field.required %}
            required
        {%endif%}
        value="{% spaceless %}
        {%if formulario.is_bound %}
            {{formulario.fecha.value}}
        {%elif usuario%}
            {{formulario.fecha.value}}
        {%endif%}
        {% endspaceless %}"/>
        <div class="invalid-feedback">
            {% for error in formulario.fecha.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <div class="mb-4">
        <label for="{{ formulario.usuario.id_for_label }}" class="form-label">{{ formulario.usuario.label }}: </label>
        <select name="{{ formulario.usuario.html_name }}" class="form-control {% if formulario.usuario.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" id="{{ formulario.usuario.id_for_label }}" {% if formulario.usuario.field.required %} required {% endif %}>
            <option value="">Elige usuario</option>
            {% for user_choice in formulario.usuario.field.choices %}
                <option value="{{ user_choice.0 }}" {% if formulario.usuario.value == user_choice.0 %} selected {% endif %}>{{ user_choice.1 }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            {% for error in formulario.usuario.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock%}