<header>
    {% comment %}
    {% if request.user.is_authenticated and perms.Huerto.view_planta %}
        <div><a href="{% url 'plantahuerto' 6%}">planta en 1 huerto determinado</a> </div>
        <div><a href="{% url 'plantaphluz' 0 7000000 0%}">Plantas que crecene en el rango de ph y con al menos las horas de luz establecitas. Funciona pero el rango de seed es muy raro</a></div>
    {% endif %}
    {% if request.user.is_authenticated and perms.Huerto.view_usuario %}
        <div><a href="{% url 'usuariosparcelas' 'a'%}">usuarios que tienen parcela y su apellido empieza por A</a></div>
        <div><a href="{% url 'usuarionoticia' %}">Devuelve el usuario que ha escrito una noticia sin etiqueta</a></div>
    {% endif %}
    {% if request.user.is_authenticated and perms.Huerto.view_gastos %}
        <div><a href="{% url 'gasto_huerto' 6 2023%}">gastado en un huerto para un año</a></div>
    {% endif %}
    {% if request.user.is_authenticated and perms.Huerto.view_plaga %}
        <div><a href="{% url 'plagaplanta' 'nombreplata'%}">devuelve las plagas de una planta en concreto</a></div>
    {% endif %}
    {% if request.user.is_authenticated and perms.Huerto.view_tratamiento %}
        <div><a href="{% url 'consejoplaga' %}">devuelve consejos para una plaga segun la planta</a></div>
    {%endif %}
    {%if request.user.is_authenticated and perms.Huerto.view_incidencia %}
        <div><a href="{% url 'incidenciareciente'%}">Incidencia más reciente</a></div>
        <div><a href="{% url 'sinincidencia' %}">Huerto sin incidencias</a></div>
    {%endif%}
    {%if request.user.is_authenticated and perms.Huerto.view_votacion%}
        <div><a href="{% url 'ultimovotohuerto' 3%}">  Ejercicio 1    </a></div>
        <div><a href="{% url 'votomastres' 3%}">   Ejercicio2   </a></div>
        <div><a href="{% url 'novoto'%}">  Ejercicio3    </a></li>
        <div><a href="{% url 'cuentausuario' 'heatlh'%}">  Ejercicio4    </a></div>
        <div><a href="{% url 'mediadoscinco'%}">   Ejercicio5   </a></div>
        {%endif%}
        {%endcomment%}
        <div><a href="{% url 'huerto_buscar' %}">Buscar Huertos</a></div>
        <div><a href="{% url 'huertos_lista_mejorada_api' %}">Lista mejorada</a> </div>
        <div><a href="{% url 'huerto_buscar_avanzada' %}">Buscar avanzado huerto</a></div>
        <div><a href="{% url 'gastos_buscar_avanzada'%}">Buscar avanzado gasto</a></div>
        <div><a href="{% url 'blog_buscar_avanzada'%}">Buscar avanzado blog</a></div>
        <div><a href="{% url 'blog_crear' %}">Crear blog 2</a></div>
    <h1>Tarea final</h1>
    <h3>Gabriela</h3>
    <div><a href="{% url 'recomendacion' 'primavera'%}">Plantas de primavera</a></div>
    <div><a href="{% url 'recomendacion' 'verano'%}">Plantas de verano</a></div>
    <div><a href="{% url 'recomendacion' 'otoño'%}">Plantas de otoño</a></div>
    <div><a href="{% url 'recomendacion' 'invierno'%}">Plantas de invierno</a></div>

    <h3>Manuel</h3>
    <div><a href="{% url 'huerto_disponible' %}">Huertos disponibles</a></div>

    <h3>Irene</h3>
    <div><a href="{% url 'huerto_recoletable' 2%}">Huertos recolectable</a></div>
    
    <h3>Alberto</h3>
    <div><a href="{% url 'aviso_riego' 1%}">Plantas que necesitan ser regadas</a></div>
    <div><a href="{% url 'riego_planta_crear' %}">Crear riego</a></div>
    
</header>

