<!DOCTYPE html>
<html>

    <head>
        {% block link_css %}

        {%endblock%}


        {% block cabecera_extra%}
        {%block busqueda%}
<form action = "{% url 'huerto_buscar' %}" class="d-flex mt-3" role="search" method="GET">
    <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-light btn-outline-dark" type="submit">Search </button>
</form>
{%endblock%}


            {% load static %}
            <link rel="stylesheet" href="css/estilo.css">
            <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <script src="{% static 'javascript/javascript1.js'%}"></script>
        
            {% load bootstrap5 %}
            {% bootstrap_css %}
            {%bootstrap_javascript%}
            {%load bootstrap_icons%}
                <script type="text/javascript" src="{% static 'javascript/javascript1.js'%}"></script>
        {% endblock%}
        
    </head>
    <body>
        <div><a href="{% url 'huertos_lista_api'%}">Lista huerto</a></div>
        <div><a href="{% url 'gasto_lista_api'%}">Lista gastos mejorada</a></div>
        <div><a href="{% url 'blog_lista_api'%}">Lista blog mejorada</a></div>
        <div><a href="{% url 'huertos_crear'%}">Crear Huerto</a></div>
        <div><a href="{% url 'gastos_crear'%}">Crear Gasto</a></div>
        <div><a href="{% url 'blog_crear' %}">Crear Blog</a></div>
        <div><a href="{% url 'blog_crear' %}">Crear blog 2</a></div>

        Fecha Inicio:
    </br>

    </p>
    <div class="ml-2">
    

        

        

        




    </div>
    
        {%include "nav.html"%}
        {%block cabecera%}
            <p>Esto es el bloco de la cabecera</P>
        {%endblock%}

        {%block contenido%}
            <p>Este es el block del contenido </p>
        {%endblock%}

        <img src="{%static 'imagenes/Diagrama ER huerto.JPG'%}" alt="...">
        {%include "pie.html"%}
    </body>