{%extends "principal.html"%}

{% block contenido %}
{% load bootstrap5 %}
    <form action="{% url 'huerto_buscar_avanzada' %}" method="GET">
        {% csrf_token %}

        <div>
            {% bootstrap_field formulario.herramientas show_label=True %}
        </div>

        <div>
            {% bootstrap_field formulario.facturas show_label=True %}
        </div>

        <div>
            {% bootstrap_field formulario.imprevistos show_label=True %}
        </div>

        <div>
            {% bootstrap_field  formulario.Descripcion  show_label=True %}
        </div>

        <div>
            {% bootstrap_field formulario.fecha show_label=True %}
        </div>

        <button type="submit">Enviar</button>
    </form>
{% endblock %}
